
<div style="margin-bottom: 300px">
  <h1 class="mt-4">Quản lý hãng sản xuất</h1>
      <button style="margin-left: 14px;height: 50px;margin-bottom:20px ;" (click)="addBrand()">Thêm hãng sản xuất</button>
  <table id="customers" style="border-collapse: collapse">
    <tr>
      <th>EDIT</th>
      <th>
        Id
      </th>
      <th>Code</th>
      <th>Name
        <mat-icon style="cursor: pointer" (click)="sortByCode('down')" >
          arrow_downward
        </mat-icon>
        <mat-icon style="cursor: pointer" (click)="sortByCode('up')" >
          arrow_upward
        </mat-icon>
      </th>
    </tr>
    <tr *ngFor="let item of sharedDataService.productList">
      <td>
        <mat-icon
          style="cursor: pointer;"
          title="Nhấn vào để soạn"
          (click)="deletebrand(item.id)"
        >
          clear
        </mat-icon>
        &nbsp;
        <mat-icon
          style="cursor: pointer"
          title="Nhấn vào để soạn"
          (click)="editBrand(item.id)"
        >
          create
        </mat-icon>
      </td>
      <td>{{ item?.id }}</td>
      <td>{{ item?.code }}</td>
      <td>{{ item?.name }}</td>
    </tr>
  </table>

</div>
