<div style="margin-bottom: 300px">
  <h1 class="mt-4">Quản lý đơn hàng</h1>
  <div class="card mb-4">
    <div class="card-body">
      <form class="example" action="action_page.php">
        <div class="col-6 col-md-6">
          <div class="search">
            <input
              style="height: 40px; width: 250px"
              type="text"
              placeholder="Search"
              name="search"
              [(ngModel)]="search"
            />
            <button
              class="fa fa-search"
              style="height: 40px; width: 40px"
              (click)="seach()"
            ></button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <table id="customers" style="border-collapse: collapse">
    <tr>
      <th>EDIT</th>
      <th>Id</th>
      <th>Mã đơn hàng</th>
      <th>Giá trị đơn hàng</th>
      <th>Tổng số sản phẩm</th>
      <th>Ngày tạo đơn hàng</th>
      <th>Ngày giao</th>
      <th>Địa chỉ giao hàng</th>
      <th>Số điện thoại người nhận</th>
      <th>Tên người nhận</th>
      <!-- nãy b lấy dc tên đó -->
      <th>Trạng thái giao hàng</th>
    </tr>
    <tr *ngFor="let item of sharedDataService.productList">
      <td>
        <mat-icon
          style="cursor: pointer"
          title="Nhấn vào để soạn"
          (click)="deleteOder(item.id)"
        >
          clear
        </mat-icon>
        &nbsp;
        <mat-icon
          style="cursor: pointer"
          title="Nhấn vào để soạn"
          (click)="editOder(item.id)"
        >
          create
        </mat-icon>
      </td>
      <td>{{ item?.id }}</td>
      <td><a href="#" data-toggle="modal" data-target="#myModal" (click)="getDetailByCode(item.code)">{{item.code}} </a></td>
      <div id="myModal"  class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header" >
              <h4 class="modal-title">Chi Tiết Đơn Hàng &nbsp;{{item.code}}</h4>
            </div>
            <div class="modal-body">
              <table style="width:100%">
                <tr>
                  <th>Tên sản phẩm</th>
                  <th>Giá tiền</th>
                  <th>số lượng</th>
                  <th>Màu sản phẩm</th>
                  <th>Tổng tiền</th>
                </tr>
                <tr *ngFor="let item of dataDetail">
                  <td>{{item.productInfoProductName}}</td>
                  <td>{{item.productInfoProductPriceSell}}</td>
                  <td>{{item.numberProduct}}</td>
                  <td>{{item.productInfoColorName}}</td>
                  <td>{{item.numberProduct *item.productInfoProductPriceSell}}</td>
                </tr>
              </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div>
      <td>{{ item?.totalResult }}</td>
      <td>{{ item?.numberProduct }}</td>
      <td>{{ item?.createdDate|date:'yyyy-MM-dd' }}</td>
      <td>{{ item?.deliveryDate | date:'yyyy-MM-dd' }}</td>
      <td>{{ item?.deliveryAddress }}</td>
      <td>{{ item?.phoneNumber }}</td>
      <td>{{ item?.username }}</td>
      <td>{{ item?.statusString }}</td>
    </tr>
  </table>
</div>
